<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Tkotosz\ExtensionAttributeManager\Api\ProductExtensionAttribute\ManagerContainerInterface" type="Tkotosz\ExtensionAttributeManager\Container\ProductExtensionAttribute\ManagerContainer"/>
    <preference for="Tkotosz\ExtensionAttributeManager\Api\ProductExtensionAttribute\AdminProductForm\FieldSetProviderContainerInterface" type="Tkotosz\ExtensionAttributeManager\Container\ProductExtensionAttribute\AdminProductForm\FieldSetProviderContainer"/>
    <preference for="Tkotosz\ExtensionAttributeManager\Api\ProductExtensionAttribute\AdminProductForm\FieldListProviderContainerInterface" type="Tkotosz\ExtensionAttributeManager\Container\ProductExtensionAttribute\AdminProductForm\FieldListProviderContainer"/>

    <type name="Magento\Catalog\Api\Data\ProductInterface">
        <plugin name="tkotosz_init_product_extension_attributes" type="Tkotosz\ExtensionAttributeManager\Plugin\Product\InitExtensionAttributes"/>
    </type>

    <type name="Magento\Catalog\Api\ProductRepositoryInterface">
        <plugin name="tkotosz_manage_extension_attributes" type="Tkotosz\ExtensionAttributeManager\Plugin\ProductRepository\ManageExtensionAttributes"/>
    </type>
</config>
