<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Tkotosz\ExtensionAttributeManager\Api\ProductExtensionAttributeManagerContainerInterface" type="Tkotosz\ExtensionAttributeManager\Container\ProductExtensionAttributeManagerContainer"/>

    <type name="Magento\Catalog\Api\ProductRepositoryInterface">
        <plugin name="tkotosz_manage_extension_attributes" type="Tkotosz\ExtensionAttributeManager\Plugin\ProductRepository\ManageExtensionAttributes"/>
    </type>
</config>
